.header {
  width: 100%;
  padding: 0.5em;
  background: #333;
  color: #fff;
  
  h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    color: #fff;
  }

  .links {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    
    li {
      display: inline-block;
      padding-right: 1em;
      font-weight: bold;
      padding-top: 0.5em;
    }
  }
}