.photo-viewer {
	position: fixed;
	background: rgba(0,0,0,0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
	
	> img {
		padding: 0.8em;
		background: white;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		height: 300px;
		margin-left: -200px;
		margin-top: -150px;
	}
	&.inverted > img {
		-webkit-filter: invert(100%);
	}
}