.toolbar {
  position: relative;
  width: 100%;
  padding: $column-gutter / 2;
  background: #eee;
  border: 1px solid #ccc;
  
  .button {
    margin-bottom: 0;
    margin-right: 0.75em;
  }
}

.edit-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: $column-gutter / 2;
  background: #eee;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  
  .editable & {
    display: block;
  }
  &, .editable & {
    @include transition-property(margin-bottom);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-out);
  }
}

@media screen and (max-height: emCalc(350px)) {
  .toolbar, .edit-toolbar {
    padding: $column-gutter / 4;
  }
  .toolbar {
    .button {
      font-size: emCalc(13px);
    }
  }
}