.toolbar {
  width: 100%;
  padding: $column-gutter / 2;
  background: #eee;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  
  .button {
    margin-bottom: 0;
    margin-right: 0.75em;
  }
}

.edit-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: -25%;
  padding: $column-gutter / 2;
  background: #eee;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  
  .editable & {
    margin-bottom: 0%;
    opacity: 1;
  }
  &, .editable & {
    @include transition-property(margin-bottom);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-out);
  }
}

@media screen and (max-height: emCalc(350px)) {
  .toolbar, .edit-toolbar {
    padding: $column-gutter / 4;
  }
  .toolbar {
    .button {
      font-size: emCalc(13px);
    }
  }
}