/*
  DrawSelect
*/

html {
  -ms-content-zooming: none;
}

[data-selectarea] {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  .editable & {
    -ms-touch-action: none;
  }
}
[data-canvas] {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
  pointer-events: none;
}
[data-list] {
  width: 100%;
  background: transparent;
  padding: 1em;
  position: relative;
  z-index: 5;
}
  .editable [data-list] li {
    pointer-events: none;
  }